{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
{% block buy_widget_price_content %}
    {{ parent() }}
    <div id="heidipay-placeholder">
        {% if config('Go2FlowHeyLightPayment.settings.promotionShowOnProduct') == 1 %}
            {% set price = product.calculatedPrice %}
            {% if config('Go2FlowHeyLightPayment.settings.maximumOrderValue') is empty or config('Go2FlowHeyLightPayment.settings.maximumOrderValue') >= price.totalPrice %}

                {% if config('Go2FlowHeyLightPayment.settings.promotionWidgetMinAmount') <= price.unitPrice %}

                    {% if heylight_best_term(price.totalPrice * 100) %}
                        {% set promotionProductMode = config('Go2FlowHeyLightPayment.settings.promotionProductMode') %}
                        {% if promotionProductMode == 0 or promotionProductMode == 2 %}
                            <div id="heidipay-container" class="heidipay-container heidipay-container-2"
                                 data-heidipay="true"
                                 data-heidipay-minorAmount="{{ heylight_add_fee(price.totalPrice * 100) }}"
                                 data-heidipay-term="{{ heylight_best_term(price.totalPrice * 100) }}"
                                 data-heidipay-currencySymbol="{{  page.header.activeCurrency.isoCode }}"
                                 data-heidipay-lang="{{ page.header.activeLanguage.translationCode.code[:2]  }}"
                                 data-heidipay-type="PRODUCT_DESCRIPTION_HEIDIPAY_BNPL"
                                 data-heidipay-allowedterms="{{ config('Go2FlowHeyLightPayment.settings.promotionTerms')|join(',') }}"
                                 data-heidipay-apiKey="{{ config('Go2FlowHeyLightPayment.settings.promotionPublicApiKey') }}"
                                 data-heidipay-cadence="MONTHLY"
                                 data-heidipay-thousandsSeparator="."
                                 data-heidipay-decimalSeparator=","
                                 data-heidipay-symbolOnLeft="false"
                                 data-heidipay-spaceBetweenAmountAndSymbol="true"
                                 data-heidipay-decimalDigits="2"></div>
                        {% endif %}
                        {% if promotionProductMode == 1 or promotionProductMode == 2 %}
                            <div id="heidipay-container" class="heidipay-container heidipay-container-2"
                                 data-heidipay="true"
                                 data-heidipay-minorAmount="{{ heylight_add_fee(price.totalPrice * 100) }}"
                                 data-heidipay-term="{{ heylight_best_term(price.totalPrice * 100) }}"
                                 data-heidipay-currencySymbol="{{  page.header.activeCurrency.isoCode }}"
                                 data-heidipay-lang="{{ page.header.activeLanguage.translationCode.code[:2]  }}"
                                 data-heidipay-type="PRODUCT_DESCRIPTION_HEIDIPAY_CREDIT"
                                 data-heidipay-allowedterms="{{ config('Go2FlowHeyLightPayment.settings.promotionTermsCredit')|join(',') }}"
                                 data-heidipay-apiKey="{{ config('Go2FlowHeyLightPayment.settings.promotionPublicApiKey') }}"
                                 data-heidipay-cadence="MONTHLY"
                                 data-heidipay-thousandsSeparator="."
                                 data-heidipay-decimalSeparator=","
                                 data-heidipay-symbolOnLeft="false"
                                 data-heidipay-spaceBetweenAmountAndSymbol="true"
                                 data-heidipay-decimalDigits="2"></div>
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
