{% sw_extends '@Storefront/storefront/page/checkout/summary/summary-total.html.twig' %}

{% block page_checkout_summary_total %}
    {{ parent() }}

    {% if config('Go2FlowHeyLightPayment.settings.promotionShowOnCart') == 1 %}
        {% if config('Go2FlowHeyLightPayment.settings.maximumOrderValue') is empty or config('Go2FlowHeyLightPayment.settings.maximumOrderValue') >= summary.price.rawTotal %}
            {% if config('Go2FlowHeyLightPayment.settings.promotionWidgetMinAmount') <= summary.price.rawTotal %}
                {% if heylight_best_term(summary.price.rawTotal * 100) %}
                    {% set promotionProductMode = config('Go2FlowHeyLightPayment.settings.promotionProductMode') %}
                    {% if promotionProductMode == 0 or promotionProductMode == 2 %}
                    <div id="heidipay-container" class="heidipay-container"
                         data-heidipay="true"
                         data-heylight-logo-variant="black"
                         data-heidipay-minorAmount="{{ heylight_add_fee(summary.price.rawTotal * 100) }}"
                         data-heidipay-term="{{ heylight_best_term(summary.price.rawTotal * 100) }}"
                         data-heidipay-currencySymbol="{{  page.header.activeCurrency.isoCode }}"
                         data-heidipay-lang="{{ page.header.activeLanguage.translationCode.code[:2]  }}"
                         data-heidipay-type="PRODUCT_DESCRIPTION_HEYLIGHT_BNPL_CH"
                         data-heidipay-allowedterms="{{ config('Go2FlowHeyLightPayment.settings.promotionTerms')|join(',') }}"
                         data-heidipay-apiKey="{{ config('Go2FlowHeyLightPayment.settings.promotionPublicApiKey') }}"
                         data-heidipay-cadence="MONTHLY"
                         data-heidipay-thousandsSeparator="."
                         data-heidipay-decimalSeparator=","
                         data-heidipay-symbolOnLeft="false"
                         data-heidipay-spaceBetweenAmountAndSymbol="true"
                         data-heidipay-decimalDigits="2"></div>
                    {% endif %}
                    {% if promotionProductMode == 1 or promotionProductMode == 2 %}
                        <div id="heidipay-container" class="heidipay-container"
                             data-heidipay="true"
                             data-heylight-logo-variant="black"
                             data-heidipay-minorAmount="{{ heylight_add_fee(summary.price.rawTotal * 100) }}"
                             data-heidipay-currencySymbol="{{  page.header.activeCurrency.isoCode }}"
                             data-heidipay-lang="{{ page.header.activeLanguage.translationCode.code[:2]  }}"
                             data-heidipay-type="PRODUCT_DESCRIPTION_HEYLIGHT_FINANCING_CH"
                             data-heidipay-allowedterms="{{ config('Go2FlowHeyLightPayment.settings.promotionTermsCredit')|join(',') }}"
                             data-heidipay-apiKey="{{ config('Go2FlowHeyLightPayment.settings.promotionPublicApiKey') }}"
                             data-heidipay-cadence="MONTHLY"
                             data-heidipay-thousandsSeparator="."
                             data-heidipay-decimalSeparator=","
                             data-heidipay-symbolOnLeft="false"
                             data-heidipay-spaceBetweenAmountAndSymbol="true"
                             data-heidipay-decimalDigits="2"></div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}


{% endblock %}
