{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart-summary.html.twig' %}

{% block component_offcanvas_summary_tax_info %}
    {% if config('Go2FlowHeyLightPayment.settings.heidiPromotionShowOnCart') == 1 %}
        {% if config('Go2FlowHeyLightPayment.settings.heidiMaximumOrderValue') is empty or config('Go2FlowHeyLightPayment.settings.heidiMaximumOrderValue') >= page.cart.price.totalPrice %}
            {% if config('Go2FlowHeyLightPayment.settings.heidiPromotionWidgetMinAmount') <= page.cart.price.totalPrice %}
                {% if heidi_best_term(page.cart.price.totalPrice * 100) %}
                    {% set heidiPromotionProductMode = config('Go2FlowHeyLightPayment.settings.heidiPromotionProductMode') %}
                    {% if heidiPromotionProductMode == 0 or heidiPromotionProductMode == 2 %}
                        <div id="heidipay-container" class="heidipay-container-2"
                             data-heidipay="true"
                             data-heidipay-minorAmount="{{ heidi_add_fee(page.cart.price.totalPrice * 100) }}"
                             data-heidipay-term="{{ heidi_best_term(page.cart.price.totalPrice * 100) }}"
                             data-heidipay-currencySymbol="{{  context.salesChannel.currency.isoCode }}"
                             data-heidipay-lang="{{ app.request.locale|slice(0,2) }}"
                             data-heidipay-type="PRODUCT_DESCRIPTION_HEIDIPAY_BNPL"
                             data-heidipay-allowedterms="{{ config('Go2FlowHeyLightPayment.settings.heidiPromotionTerms')|join(',') }}"
                             data-heidipay-apiKey="{{ config('Go2FlowHeyLightPayment.settings.heidiPromotionPublicApiKey') }}"
                             data-heidipay-cadence="MONTHLY"
                             data-heidipay-thousandsSeparator="."
                             data-heidipay-decimalSeparator=","
                             data-heidipay-symbolOnLeft="false"
                             data-heidipay-spaceBetweenAmountAndSymbol="true"
                             data-heidipay-decimalDigits="2"></div>
                    {% endif %}
                    {% if heidiPromotionProductMode == 1 or heidiPromotionProductMode == 2 %}
                        <div id="heidipay-container" class="heidipay-container-2"
                             data-heidipay="true"
                             data-heidipay-minorAmount="{{ heidi_add_fee(page.cart.price.totalPrice * 100) }}"
                             data-heidipay-term="{{ heidi_best_term(page.cart.price.totalPrice * 100) }}"
                             data-heidipay-currencySymbol="{{  context.salesChannel.currency.isoCode }}"
                             data-heidipay-lang="{{ app.request.locale|slice(0,2) }}"
                             data-heidipay-type="PRODUCT_DESCRIPTION_HEIDIPAY_CREDIT"
                             data-heidipay-allowedterms="{{ config('Go2FlowHeyLightPayment.settings.heidiPromotionTermsCredit')|join(',') }}"
                             data-heidipay-apiKey="{{ config('Go2FlowHeyLightPayment.settings.heidiPromotionPublicApiKey') }}"
                             data-heidipay-cadence="MONTHLY"
                             data-heidipay-thousandsSeparator="."
                             data-heidipay-decimalSeparator=","
                             data-heidipay-symbolOnLeft="false"
                             data-heidipay-spaceBetweenAmountAndSymbol="true"
                             data-heidipay-decimalDigits="2"></div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    {{ parent() }}
{% endblock %}
